<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="NetHttpBinding_ICore">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="ws://localhost:9999/Nomencontest" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_ICore" contract="Server.ICore"
                name="NetHttpBinding_ICore">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>